body{
    background-image: url('backgiffinal.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-x: hidden; */
}
#p1{
    color: red;
    font-weight: bold;
}
#div1{
    position: relative; left: 80px; top: 60px;
}
#div2{
    position: absolute; left: 90px; top: 135px;
}
#p2{
    color: red;
    font-weight: bold;
}
.card{
    position: relative; left: 490px; top: 300px;
    height: 200px;
    background-color: black; opacity: .8;
}
#btn{
    background-color: darkgoldenrod;
    position: relative; left: 620px; top: 170px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#name{
    position: relative; left: 529px; top: 110px;
    border-radius: 10px;
}
#pass{
    position: relative; left: 540px; top: 140px;
    border-radius: 10px;
}  
#lnamel{
    position: relative; left: 520px; top: 110px;
    color: whitesmoke;
} 
#lpass{
    position: relative; left: 530px; top: 140px;
    color: whitesmoke;
}
#sign{
    position: relative; left: 610px; top: 108px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}